*{
	font-family: sans-serif;
	text-align: left;
}
body{
	background-color: #474448	;
	overflow: hidden;
	padding: 20px;
	padding-top: 0;
	margin: 10px;
}
nav{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	gap: 30px;
	color: #F6EFEE;
	text-transform: uppercase;
}
nav *:hover{
/*	color: black;*/
	cursor: pointer;
}
h1{
	color: #F6EFEE;
	text-transform: lowercase;
	font-size: 50px;
	font-family: Abril_Fatface;
	line-height: 40px;
}
hr{
	width: 50%;
	text-align: left;
	margin: 0;
}
section{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-transform: lowercase;
	color: #F6EFEE;
}
footer{
	position: absolute;
	bottom: 10%;
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: flex-start;
}

a{
	color: #F6EFEE;
	text-decoration: none;
	cursor: pointer;
}